/* BODY MARGIN */
body {
    margin: 0;
}


/* -----      HEADER CREATION     ------ */
.header_element {
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}
.header_title, .header_navigation, .header_social_anchors {
    user-select: none;
    -webkit-user-drag: none;
    background-color: black;
}


/* -----      TITLE HEADER     ------ */
.header_title {
    width: 300px;
    text-align: center;
}
.header_title a {
    color: red;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}
.header_title p {
    margin-top: 17px;
}


/* -----      NAVIGATION HEADER     ------ */
.header_navigation {
    flex: 1;
    margin: 0px 30px;
    font-size: 20px;
}
.header_navigation a {
    color: black;
    transition: 0.3s;
    padding: 0px 30px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    background-color: white;
}
.header_navigation p {
    margin-top: 17px;
}
.header_navigation a:hover {
    padding: 1px 20px;
    box-shadow: -5px 5px red;
}


/* -----      SOCIAL HEADER     ------ */
.header_social_anchors {
    width: 300px;
    text-align: center;
}
[class='fa fa-github'] {
    color: brown;
    font-size: 40px;
    transition: 0.3S;
    margin-top: 13px;
}
[class='fa fa-instagram']{
    margin-left: 10px;
    color: brown;
    font-size: 40px;
    transition: 0.3S;
}


.main {
    height: 100px;
    width: auto;
    background-color: whitesmoke;
}