/* ------------------------------------------------ */
/*                          MAIN                    */
/* ------------------------------------------------ */
/* Hide scrollbar on webkit-based browsers */
body::-webkit-scrollbar {
    width: 0em;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.main {
    display: flex;
    height: 550px;
    margin: 0px;
    justify-content: center;
    background-image: url('../media/castle_old.png');
    animation: moveNumbers 10s linear infinite;
}

.main p {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    text-align: center;
    user-select: none;
}

.video_main {
    display: flex;
    width: 100%;
}

video {
    pointer-events: none;
    width: 300px;
    height: auto;
    opacity: 0.2;
    position: relative;
    left: 500px;
    bottom: 420px;
}

/* Profiles Containers */
.profile_background {
    background-image: url('../media/castle_old.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.profiles {
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
}

.profile_one, .profile_three {
    position: relative;
    bottom: 10px;
    transition: 0.4s;
}

.profile_one, .profile_two, .profile_three {
    width: 400px;
    height: 250px;  
    border-radius: 5px;
    background-image: linear-gradient(315deg, orange 5%, black 70%, orange );
}

.profile_two {
    margin-left: 20px;
    margin-right: 20px;
    position: relative; 
    bottom: 50px;
    transition: 0.4s;
}

/* -------      IMAGE     -------- */

.profile_two img {
    width: 90px;
    margin-top: 15px;
    border-radius: 10px;
}
.profile_one img {
    width: 90px;
    margin-top: 15px;
    border-radius: 10px;
}
.profile_three img {
    width: 90px;
    margin-top: 15px;
    border-radius: 10px;
}

/* ------      TEXT      ------ */

.profile_two, .profile_three, .profile_one, p {
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    text-align: center;
    user-select: none;
}

/* ------      HOVER      ------ */

.profile_two:hover {
    bottom: 75px;
}

.profile_one:hover, .profile_three:hover {
    bottom: 30px;
}
