body::-webkit-scrollbar {
    width: 0em;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.main {
    height: 1000px;
    width: auto;
    background-position: center;
    background-size: cover;
    background-image: url('../media/spidy.jpg');
}

.welcome {
    position: relative;
    display: flex;
    margin-bottom: 300px;
    justify-content: center;
}

.welcome p {
    margin: 0;
    text-align: center;
    position: relative;
    top: 40px;
    color: white;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    padding: 0 40px;
    background-color: black;
    border-radius: 4px;
}

.profiles {
    height: 350px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
}


.profile_one, .profile_two, .profile_three {
    width: 400px;
    height: 300px;  
    position: relative;
    background-color: black;
    transition: bottom 0.5s ease 0s; 
    bottom: 0; 

}

.profile_two {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}


/* -----      TEXT      ----- */
.profile_one, .profile_two, .profile_three {
    text-align: center;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}


/* -------      IMAGE     -------- */
.profile_two img, .profile_one img, .profile_three img {
    width: 90px;
    margin-top: 15px;
}


/* ------      HOVER      ------ */
.profile_one:hover, .profile_two:hover, .profile_three:hover {
    bottom: 75px;
}